// ==========================================================================
//   TYPOGRAPHICAL STYLES
//   1. HTML elements
//   2. Styles applied in the RTE and other admin edit forms (views, field formatters, etc).
// ==========================================================================


/* 1. HTML elements
   ========================================================================== */
html {
  font-family: $base-font-family;
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  color: $base-font-color;
  background: $base-background-color;
  font-family: $base-font-family;
  @include font-size($base-font-size);
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
}

p {
  margin: 0 0 rem($vertical-spacing);

  &:last-child {
    margin-bottom: 0;
  }
}

a[href] {
  color: $link-color;
  @include font-weight(bold);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $link-color-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: inherit;
  letter-spacing: $heading-letter-spacing;
  line-height: $heading-line-height;
  text-transform: capitalize;
  margin-top: 1.5em; // This will vary based on font size
  margin-bottom: rem($vertical-spacing); // Same bottom gutter as most elements
  text-rendering: optimizeLegibility;
  hyphens: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a[href] {
    color: $action-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $link-color-hover;
    }
  }
}

h1 {
  @include font-size($h1-font-size-mobile);
  @include font-weight(bold);
  color: $base-font-color;
  @include bp($main-nav, up) {
    @include font-size($h1-font-size);
  }
}

h2 {
  @include font-size($h2-font-size-mobile);
  @include font-weight(bold);
  color: $primary-color;
  @include bp($main-nav, up) {
    @include font-size($h2-font-size);
  }
}

h3 {
  @include font-size($h3-font-size-mobile);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @include bp($main-nav, up) {
    @include font-size($h3-font-size);
  }
}

h4 {
  @include font-size($h4-font-size);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @include bp($main-nav, up) {
    @include font-size($h4-font-size);
  }
}

h5 {
  @include font-size($h5-font-size);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @include bp($main-nav, up) {
    @include font-size($h5-font-size);
  }
}

h6 {
  @include font-size($h6-font-size);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @include bp($main-nav, up) {
    @include font-size($h6-font-size);
  }
}

pre {
  background-color: none;
  display: block;
  border: $base-border;
  white-space: pre-wrap;
  font-family: $monospace-font-family;
  margin: 0 0 rem($vertical-spacing);
}

/* 2. Styles applied via the RTE
   ========================================================================== */

// Not currently being used
//.intro {
//  font-family: $base-font-family;
//  @include font-size(18px);
//  @include font-weight(bold);
//}

.citation {
  //@include font-size(18px);
  //@include font-weight(bold);
  //letter-spacing: 1px;
  //color: $primary-color;
  //text-transform: uppercase;
  @extend %citation;
}

.caption {
  //margin: rem($vertical-spacing / 2) 0;
  //@include font-size(12px);
  //line-height: 18px;
  //font-style: italic;
  //color: $base-font-color;
  @extend %caption;
}

a.more-link,
a.arrow-link,
.arrow-link a {
  color: $action-color;
  position: relative;
  @include font-weight(bold);
  text-transform: none;
  text-decoration: none;
  margin-right: 1em;
  &:after {
    display: inline-block;
    vertical-align: middle;
    font-family: $icomoon;
    content: $icon-arrow-right;
    color: inherit;
    font-size: .65em;
    text-align: center;
    @include font-weight(normal);
    text-decoration: none;
    padding: 0 0 0 .25em;
    border-bottom: 1px dotted transparent;
  }
  &:hover,
  &:active {
    color: $primary-color;
    &:after { /* nifty depress action!*/
      //margin-left: 2px;
    }
  }
}

div.more-link { // keep on same line as trimmed text
  display: inline-block;
  text-align: left;
  a {
    text-transform: uppercase;
    font-size: .8em;
  }
}
