@import "0-config/__config";

// ==========================================================================
//   LAYOUT: positioning, widths, gutters.
// ==========================================================================

// General container level styles and resets
.layout-container {
  div,
  section {
    position: relative;
    @include clearfix;
  }
}

.field,
.block {
  position: relative;
  @include clearfix;
}

.container {
  @include center-block;
}

// Widths
.full-width {
  width: 100%;
  max-width: none;
}

.page-width {
  width: 100%;
  max-width: $page-width;
}

.medium-width {
  width: 100%;
  max-width: $content-width;
}

.small-width {
  width: 100%;
  max-width: $body-width;
}


// Gutters
.padded-row {
  padding: 0 $gutter;
  @include bp(medium, up) {
    padding: 0 $gutter*2;
  }
}

.padded-column {
  padding: $gutter 0 $gutter*3 0;
  @include bp(medium, up) {
    padding: $gutter*2 0 $gutter*4 0;
  }
}

.section {
  & + .section {
    margin-top: $gutter*2;
    @include bp(large, up) {
      padding: 0 $gutter*4;
    }
  }
}

// Partials
@import "2-layout/header";
@import "2-layout/footer";

