// ==========================================================================
//   PARAGRAPHS - Lesson Type
// ==========================================================================

.component--type-lesson-type{
  .column {
    & + .column {
      margin-top: $gutter*2;
    }
    .col-item {
      & + .col-item {
        margin-top: $gutter;
      }
    }
  }
  .offerings-wrapper {
    ul {
      float: left;
      margin-bottom: 0;
    }
    li {
      width:50%;
      float: left;
    }
  }
  .buttons-wrapper {
    .button {
      margin-right: $gutter/2;
    }
  }

  @include bp(medium, up) {
    .column {
      & + .column {
        margin-top: 0;
      }
      &.main-content-wrapper {
        padding-right: $gutter*2;
      }
    }
    .column {
      float: left;
      width: 50%;
    }
  }
}
