// ==========================================================================
//   SITE HEADER
// ==========================================================================

header {
  .nav-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  #site-header {
    position: relative;
    border-top: 4px solid $black;
    border-bottom: 8px solid $black;
    background-color: $white;
    @include bp($main-nav, up) {
      margin-top: -65px;
    }
    .header-background-wrapper {
      min-height: 150px;
      background-color: $primary-color;
      background-image: url("../../static/images/header-bg.png");
      background-size: cover;
      img {
        max-width: none;
        width: 100%;
        opacity: 0;
      }
      @include bp(small, up) {
        min-height: unset;
        img {
          opacity: 1;
        }
      }
    }
    .logo-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      .logo {
        position: relative;
        display: inline-block;
        padding: 10px 40px;
        z-index: 1;
        width: 260px;
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          background-color: rgba(255, 255, 255, .5);
          @include border-radius(6px);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
          z-index: -1;
        }
      }
      a {
        &:hover {
          .logo {
            &:before {
              background-color: rgba(255, 255, 255, .8);
            }
          }
        }
      }
      @include bp(small, up) {
        .logo {
          width: 300px;
        }
      }
      @include bp(medium, up) {
        .logo {
          width: 400px;
        }
      }
      @include bp(large, up) {
        .logo {
          width: 450px;
        }
      }
      @include bp(x-large, up) {
        .logo {
          margin-top: 40px;
        }
      }
    }
  }
}

