{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isSticky() ? 'node--sticky',
] %}

<div class="testimonial-wrapper container">
  <div class="testimonial-content container medium-width padded-row" data-aos="zoom-out-up">
    <div class="quote-wrapper">{{ content.body }}</div>
    {% if content.field_attribution|render %}
      <div class="quote-attribution">{{ content.field_attribution }}</div>
    {% endif %}
  </div>
</div>
