{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isSticky() ? 'node--sticky',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<section {{ attributes.addClass(classes)}}>

  <div class="page-title-wrapper background">
    <div class="page-title-content container page-width padded-row">
      <div class="page-title-background">
      <h1 class="page-title">{{ node.label }}</h1>
      </div>
    </div>
  </div>

  <div class="content-wrapper padded-column">

  {{ content.field_components }}

  {% if content.field_related_view|render %}
    <div class="related-view-wrapper container page-width padded-row">
    {{ content.field_related_view }}
    </div>
  {% endif %}

  </div>

</section>
