// ==========================================================================
//   LAYOUTS
// ==========================================================================

.field--name-field-layouts {
  // Two Column layout styles
  .layout--twocolumn {

    @include bp(medium, up) {
      display: flex;
      flex-wrap: wrap;

      > .layout__region {
        flex: 0 1 100%;

        //equalize height of columns
        display: flex;
        flex-wrap: wrap;

        .section {
          display: flex;
          flex-wrap: wrap;
          flex: 0 1 100%;
          .paragraph-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 100%;
            .paragraph-content {
              width: 100%;
            }
          }
        }
      }

      > .width--50 {
        flex: 0 1 50%;
      }
      > .width--33 {
        flex: 0 1 33%;
      }
      > .width--34 {
        flex: 0 1 33%;
      }
      > .width--67 {
        flex: 0 1 67%;
      }
    }
  }

  // Three Column layout styles
  .layout--threecolumn {

    @include bp(large, up) {
      display: flex;
      flex-wrap: wrap;

      > .layout__region {
        flex: 0 1 100%;

        //equalize height of columns
        display: flex;
        flex-wrap: wrap;

        .section {
          display: flex;
          flex-wrap: wrap;
          flex: 0 1 100%;
          .paragraph-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 100%;
            .paragraph-content {
              width: 100%;
            }
          }
        }
      }

      > .width--50 {
        flex: 0 1 50%;
      }
      > .width--33 {
        flex: 0 1 33%;
      }
      > .width--34 {
        flex: 0 1 33%;
      }
      > .width--67 {
        flex: 0 1 67%;
      }
    }
  }
}

