// ==========================================================================
//   COLORS
// ==========================================================================

// Color palette specific to this site

$blue:           #224492;
$blue-medium:    #315db6;
$green:          #0a872d;
$green-medium:   #23a146;
$fuschia:        #890875;
$fuschia-medium: #a1238e;
$gold:           #e0a109;
$gold-medium:    #f2ae09;

$black:          #000000; // darkest
$charcoal:       #15212C;
$gray:           #D9DEE2;
$ice:            #E5E5E5;
$white:          #ffffff; // lightest


// Admin colors (matches Tofu Gin settings)
$action-admin-color: #0A51E6;

// Message colors

$light-green:    #8dbe51;
$mustard:        #ddc44f;
$tomato:         #cd4533;
