// ==========================================================================
//   COLORS
// ==========================================================================

// Color palette specific to this site

$dark-eggplant:  #432D51;
$eggplant:       #594367;
$blue:           #2B6A90;
$orange:         #E1854E;

$black:          #000000; // darkest
$charcoal:       #15212C;
$gray:           #D9DEE2;
$ice:            #E5E5E5;
$white:          #ffffff; // lightest


// Admin colors (matches Tofu Gin settings)
$action-admin-color: #0A51E6;

// Message colors

$light-green:    #8dbe51;
$mustard:        #ddc44f;
$tomato:         #cd4533;
