// ==========================================================================
//   PATTERNS
//   These style "patterns" can be applied throughout the site on different
//   fields, classes, HTML selectors, etc.
// ==========================================================================

%label {
  @include font-size(14px);
  @include font-weight(bold);
  color: $base-font-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}

%label-small {
  @include font-size(12px);
  @include font-weight(bold);
  color: $base-font-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}

%caption {
  color: $base-font-color;
  @include font-size(12px);
  @include font-weight(normal);
  line-height: 18px;
  margin: rem($vertical-spacing / 2) 0 ;
}

%citation {
  @include font-size(18px);
  @include font-weight(bold);
  letter-spacing: 1px;
  color: $primary-color;
  text-transform: uppercase;
}
